

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  outline: none;
}

.App-header {
  background-color: rgb(200, 74, 81);
  padding: 1px;
  color: white;
}

.App-header .header-date {
  font-size: 14px;
  text-align: right;
  padding-right: 20px;
}

.App-title {
  text-align: center;
  font-size: 2em;
}

#time-tracker {
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgb(70,70,70);
  margin-left: 5%;
}

#time-tracker input {
  text-align: center;
}

.task-list-entry{
  font-size: 12px;
  margin: 10px 0 10px 2%;
  box-shadow: 0 0 10px 0 rgb(220,220,220);
  padding: 10px;
}

.log {
  margin-left: 5%;
  width: 90%;
}

.task-list-entry p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-list-entry h4{
  text-align: center;
  font-size: 16px;
}

.duration-icon {
  position: relative;
  top: 2px;
  width: 18px;
}

.home {
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.home .home-div {
  margin-left: 5%;
}

.home #home-main {
  flex: 1;
  margin-left: 5%;
}

.home .home-div:last-of-type {
  flex: 0.6;
  margin-right: 3%;
}

.calendar { 
  cursor: default;
}

#search-component input {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}

#search-results {
  height: 30vh;
  overflow: auto;
  margin-bottom: 40px;
}

.booking-entry {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.booking-entry input {
  flex: 1;
  width: 100%;
  text-align: center;
}

.add-button {
  background-color: rgb(71, 200, 91);
  text-align: center;
  color: rgba(0,0,0,0.6);
  border: 0;
  font-weight: bold;
}

#booking-submit-btn {
  border: 0;
  width: 100%;
  font-size: 32px;
  margin-top: 14%;
  box-shadow: 0 0 10px 0 rgb(100,100,100);
}
